/* .details {
  border: 2px solid grey;
  width: 800px;
  height: 400px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
img {
  border: 2px solid black;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  height: 300px;
}

.flex {
  display: flex;
}

.para {
  height: 500px;
  width: 500px;
  padding: 40px;
} */

/* -------------------------------------- */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.details {
  margin-left: 20px;
}

.details p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
