<!-- <p>{{ details.Food }}</p> -->
<div class="flex">
  <img
    style="width: 200px"
    src="http://localhost/{{ details.image }}"
    alt="img"
  />
  <!-- <mat-card> -->
  <!-- <mat-card-content> -->
  <div class="details">
    <p>
      Name of Product: {{ details.Food }}
      <br />
      Measure: {{ details.Measure }}
      <br />
      Grams Quantity: {{ details.Grams }}
      <br />

      Calories: {{ details.Calories }}
      <br />

      Protien Percentage(%): {{ details.Protein }}
      <br />

      Fat Percentage(%): {{ details.Fat }}

      <br />

      Fiber Percentage(%): {{ details.Fiber }}
      <br />

      Carbs Percentage(%): {{ details.Carbs }}
      <br />

      <br />

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      minus omnis cum ea, velit tempora vero in, vitae sequi, ipsam quam mi
      quasi! Distinctio, cum adipisci cupiditate vero earum quam. Autem odi
      tempora a aliquid deleniti maiores quibusdam mollitia minima exceptur
      cumque fugiat, fuga atque neque expedita possimus, voluptatibus quo,e
      tenetur eum voluptatem! Aut perferendis possimus ullam, animi corpori
      maxime? Sint perspiciatis eius, facilis magni laborum impedit ipsamer
      eligendi placeat modi omnis soluta iste suscipit provident nulla illo
      illum consectetur saepe. Necessitatibus, aliquam tempore! Porror pari
      velit beatae? vnnfn ghets thtes he gjjhfivsa aliqbw shesabff
    </p>
  </div>
</div>
<!-- </mat-card-content>
</mat-card> -->
